# MongoDB
MONGO_URI=mongodb://username:password@localhost:27017/

# Granian
GRANIAN_LOG_LEVEL=debug
GRANIAN_LOOP=uvloop
GRANIAN_WORKERS=2
GRANIAN_WORKERS_LIFETIME=86400
GRANIAN_RESPAWN_FAILED_WORKERS=true
GRANIAN_LOG_ACCESS_ENABLED=true